h2 {
    font: 150% fantasy;
    position: absolute;
    width: 0;
    height: 0;
    left: 35.8%;
    top: 0;
    color: white;
}

form {
    position: absolute;
    top: 1.5%;
    right: 13%;
}
input[type="search"] {
    border: 10px solid #1d1d1d;
    border-radius: 50px;
    background: #1d1d1d;
    color: white;
    width: 150%;
}
.line-vert_1 {
    border-left: 1px solid white;
    height: 920px;
    position: absolute;
    left: 35%;
}
.line-vert_2 {
    border-left: 1px solid white;
    height: 920px;
    position: absolute;
    left: 74%;
}
.line-gor {
    border-top: 1px solid white;
    height: 1px;
    position: relative;
    top: 50px;

}

.btn {
    border: 2px solid #000000; /* Параметры рамки */
    background-color: black; /* Цвет фона */
    color: white;
    /* Поля вокруг текста */
    padding: 14px 28px;
    font-size: 25px; /* Размер текста */
    cursor: pointer;
    border-radius: 100px;
}
.btn:hover {
    border: 2px solid #151515;
    background: #151515;
}
.main {
    position: absolute;
    top: 12%;
    left: 16%;
}
.notification {
    position: absolute;
    top: 20%;
    left: 16%;
}
.message {
    position: absolute;
    top: 28%;
    left: 16%;
}
.bookmarks {
    position: absolute;
    top: 36%;
    left: 16%;
}
.audio {
    position: absolute;
    top: 44%;
    left: 16%;
}
.photo {
    position: absolute;
    top: 52%;
    left: 16%;
}

.video {
    position: absolute;
    top: 60%;
    left: 16%;
}

.profile {
    position: absolute;
    top: 68%;
    left: 16%;
}
.friends {
    position: absolute;
    top: 76%;
    left: 16%;
}

body{
    background-color: #000000;
   }
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #0a0e14;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}
.advert {
    position: absolute;
    background: black;
    cursor: pointer;
    float: right;
    border: none;
    margin-top: 30%;
    right: 10%;
}
.p {
    position: absolute;
    background: black;
    cursor: pointer;
    float: right;
    border: none;
    margin-top: 33%;
    right: 3%;

}

/*textarea {*/
/*    color: white;*/
/*    resize: none;*/
/*    position: absolute;*/
/*    width: 700px;*/
/*    padding: 1em;*/
/*    border: 1px solid grey;*/
/*    margin-left: -990px;*/
/*    margin-top: 850px;*/
/*    background: #1d1d1d;*/
/*}*/
input[type="text"] {
    border: 15px solid #1d1d1d;
    background: #1d1d1d;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 860px;
    right: 250px;
    width: 710px;
    height: 25px;
}
input[type="image"] {
    position: absolute;
    top: 862.5px;
    right: 260px;
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
}
div.bloke {
    color: #ffffff;
    font-weight: bold;
    float: right; /* Обтекание по правому краю */
    background: #1d1d1d; /* Цвет фона */
    border: 10px solid #1d1d1d; /* Параметры рамки */
    padding-top: 250px;
    padding-left: 20px;
    margin-right: 40px; /* Отступ справа */
    width: 20%; /* Ширина блока */
    height: 100px;
    position: relative;
    top: 70px;
    border-radius: 10px;
}
div.bloke t {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
div.bloke a {
    color: #a5a5a5;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
div.bloke a:hover {
    color: #0053aa;
}